<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erfu.topNews.mapper.TypeMapper">
    <!--
    查询所有新闻类型
    List<Type> findAll();
    -->
    <select id="findAll" resultType="com.erfu.topNews.pojo.Type">
        select
                tid,
                tname
        from
            news_type
    </select>
</mapper>
