<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!--加载properties-->
    <context:property-placeholder location="classpath:jdbc.properties"></context:property-placeholder>

    <!--包扫描 不扫controller-->
    <context:component-scan base-package="com.erfu">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>
    <!--数据源-->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="driverClassName" value="${jdbc.driver}"></property>
        <property name="url" value="${jdbc.url}"></property>
        <property name="username" value="${jdbc.user}"></property>
        <property name="password" value="${jdbc.password}"></property>
    </bean>
    <!--事务-->
    <bean id = "transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"></property>
    </bean>
    <tx:annotation-driven></tx:annotation-driven>

    <!--整合MyBatis-->
    <!--SqlSessionFactoryBean
        设置MyBatis的各种信息
        生成所有的Mapper对象放入IOC容器中
    -->
    <bean id="sessionFactoryBean" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!--驼峰转换-->
        <property name="configuration">
            <bean class="org.apache.ibatis.session.Configuration">
                <property name="mapUnderscoreToCamelCase" value="true"></property>
            </bean>
        </property>

        <!--分页插件-->
        <property name="plugins">
            <bean class="com.github.pagehelper.PageInterceptor">
                <property name="properties">
                    <props>
                        <prop key="helperDialect">mysql</prop>
                    </props>
                </property>
            </bean>
        </property>
        <!--数据源-->
        <property name="dataSource" ref="dataSource"></property>
        <!--类型别名-->
        <property name="typeAliasesPackage" value="com.erfu.topNews.pojo"></property>
        <!--mapper映射文件扫描-->
        <property name="mapperLocations" value="classpath:com/erfu/mapper/*.xml"></property>
    </bean>
    <!--扫描所有的Mapper接口-->
    <bean id="scannerConfigurer" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.erfu.topNews.mapper"></property>
    </bean>
</beans>